:root {
  color-scheme: light dark;

  --link-color: #555;
  --link-color-hover: #000;
  --drawer-background: #fff;
  --load-more-background: #f8f8f8;
  --load-more-background-hover: #f0f0f0;
  --load-more-background-active: #e0e0e0;

  @media (prefers-color-scheme: dark) {
    --link-color: #bbb;
    --link-color-hover: #fff;
    --drawer-background: #111;
    --load-more-background: #1f1f1f;
    --load-more-background-hover: #2b2b2b;
    --load-more-background-active: #1f1f1f;
  }
}

a {
  color: var(--link-color);
  transition: color 0.15s;

  &:hover,
  &:focus-visible {
    color: var(--link-color-hover);
  }
}
