:root {
  color-scheme: light dark;

  --link-color: #555;
  --link-color-hover: #000;
  --drawer-background: #fff;

  @media (prefers-color-scheme: dark) {
    --link-color: #bbb;
    --link-color-hover: #fff;
    --drawer-background: #111;
  }
}

a {
  color: var(--link-color);
  transition: color 0.15s;

  &:hover,
  &:focus-visible {
    color: var(--link-color-hover);
  }
}
