.post {
  margin: 24px 12px;
}

.header {
  margin-bottom: 12px;
}

.date {
  margin: 0;
  margin-bottom: 4px;
}

.description {
  p {
    margin: 0;
  }
}

.attachments {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: 1fr;
  gap: 12px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @media (min-width: 1800px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;

  @media (min-width: 600px) {
    aspect-ratio: 1;
  }
}
