.header {
  text-align: center;
}

.title {
  font-size: 48px;
  margin: 0;
  margin-top: calc(20vh + 25px);
}

.subtitle {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 20vh;
  opacity: 0.6;
}

.mainPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0.6;
}

.grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr;
  gap: 2px;

  @media (min-width: 800px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: brightness(2) blur(12px);
    translate: 0 48px;
    scale: 1.1;
  }
}

.attachment {
  position: relative;
  border: none;
  padding: 0;
  background: transparent;
  animation: 0.5s fade-in calc(var(--delay-coefficient) * 0.05s)
    cubic-bezier(0, 0, 0, 1) both;
}

.blurhash,
.blurhashBehind {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  aspect-ratio: 1;
}

.blurhashBehind {
  filter: blur(50px) saturate(1.2);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.footer {
  font-size: 14px;
  text-align: center;
  margin: 80px 0;
  opacity: 0.6;
}

.drawerOverlay {
  position: fixed;
  inset: 0px;
  background-color: rgb(0 0 0 / 0.4);
  backdrop-filter: saturate(0.2) blur(24px);
}

.drawerContent {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--drawer-background);
  margin-left: auto;
  margin-right: auto;
  max-width: min(100vw, 800px);
  width: max-content;
}

.drawerIndicator {
  background-color: #8882;
  border-radius: 9999px;
  position: absolute;
  top: 8px;
  left: calc(50% - 24px);
  width: 48px;
  height: 6px;
}

.drawerMain {
  display: flex;
  flex-direction: column;
}

.drawerImage {
  margin-top: 22px;
  max-height: calc(100vh - 180px);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.drawerPostDetails {
  max-height: 100px;
  overflow-y: auto;
}

.drawerPostContent {
  padding: 0 16px;
}

.drawerPostMeta {
  display: flex;
  border-top: 1px solid #8882;
  background-color: #8882;
}

.drawerPostMetaItem {
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  display: flex;
  gap: 6px;
  min-width: max-content;
  color: var(--link-color);

  text-decoration: none;
  border: none;
  background: none;
}

button.drawerPostMetaItem {
  transition: color 0.15s;

  &:hover,
  &:focus-visible {
    color: var(--link-color-hover);
  }
}

.drawerPostMetaItemIcon {
  height: 100%;
  aspect-ratio: 1;
}

.drawerPostMetaItemValue {
  font-size: 14px;
}

.loadMore {
  display: block;
  margin: 64px auto;
  background-color: var(--load-more-background);
  border-radius: 9999px;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  text-decoration: none;
  transition-property: background-color, color, transform;
  transition-duration: 0.15s;

  &:hover,
  &:focus-visible {
    transform: scale(1.02);
    background-color: var(--load-more-background-hover);
  }

  &:active {
    transform: scale(0.97);
    background-color: var(--load-more-background-active);
  }
}

.theEnd {
  display: block;
  margin: 64px auto;
  font-size: 14px;
  text-align: center;
}
